<!--
  Generated template for the NewarticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
      <img src="http://www.webngraf.com/api/img/logo-corsematin.png"/>
  </ion-navbar>
</ion-header>

<ion-content center padding class="card-background-page">
        <h1 class="titreC"> Nouvelle article </h1>
    <form (ngSubmit)="envoie()">
        <ion-item>
          <ion-input [(ngModel)]="publi.titreArticle" required placeholder="Titre" type="text" name="titreArticle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select placeholder= "Catégorie">
            <ion-option value="1">Météo</ion-option>
            <ion-option value="2">Politique</ion-option>
            <ion-option value="3">Loisirs</ion-option>
          </ion-select>
        </ion-item>
        <ion-row>
        <ion-col> <button ion-button full (click)="takePhoto()" ><ion-icon name="camera"> </ion-icon>&nbsp; Photo</button></ion-col>
        <ion-col> <button ion-button block color="primary" (click)="accessGallery()"><ion-icon name="images"></ion-icon>&nbsp; Gallery</button></ion-col></ion-row>
            
            <!--<ion-col col-6><img [src]="base64Image" *ngIf="base64Image" /></ion-col>-->

            <ion-col col-6 *ngFor="let photo of photos; let id = index">
              <ion-card class="block">
                <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                <img [src]="base64Image" *ngIf="photo" />
              </ion-card>
            </ion-col>
          <ion-item>
          <ion-textarea [(ngModel)]="publi.corpsArticle" required placeholder="Description" rows="8" name="corpsArticle"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-textarea  placeholder="Utiliser l'Open Data" name="OpenCorsica"></ion-textarea>
          </ion-item>

          <!-- Test en attendant -->
          <ion-item>
            <ion-input [(ngModel)]="publi.imgArticle"  type="text" name="imgArticle" ></ion-input>
          </ion-item>
          <ion-item hidden>
            <ion-input [(ngModel)]="publi.datePublication"  name="datePublication">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="publi.idCategorie" placeholder="Catégorie" type="text" name="idCategorie"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="publi.idUser" placeholder="Utilisateur" type="text" name="idUser"></ion-input>
          </ion-item>
        <button ion-button type="submit" block>Publier</button>
      </form>
</ion-content>